.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Weather-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding-bottom: 5vh;
}

.Weather-logo {
  background-color: white;
  height: 10vw;
  padding: 2vmin 3vw 2vmin 5vw;
}

.Header-text {
  color: #777777;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 2vh;
  padding-left: 10vw;
  font-family: 'Electrolize', sans-serif;
  font-weight: 300;
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
